# CircuitPython-specific files
*.mpy

# Python-specific files
__pycache__
*.pyc

# Virtual environment-specific files
.env
.venv

# MacOS-specific files
*.DS_Store

# IDE-specific files
.idea
.vscode
*~

# KiCad-specific files
*.sch-bak
fp-info-cache
